@import url(../../assets/common/button.scss);
.table {
  background-image: url(../../assets/poker-table.jpg);
  background-position: center;
  height: 100%;
  display: grid;
  grid-template-rows: auto 3fr auto;
  .user {
    height: auto;
    background-color: #e3dffd;
    border-radius: 1em;
    padding: 0.5em;
    margin: auto;
    width: 23em;
    .box {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .slider {
      margin: 2em 0px;
    }
    .call {
      margin-top: 1em;
      display: flex;
      .btn {
        color: black;
        text-transform: uppercase;
        width: 5em;
      }
    }
  }

  .show-card {
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5em;
    color: bisque;
    .btn {
      width: 6em;
      margin: auto;
    }
  }
  .players {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: auto;
    .player {
      width: 100%;
      background-color: #e3dffd;
      border-radius: 10px;
      margin: 0.5em;
      padding: 0.5em;
      text-align: center;
    }
  }
  .avatar {
    margin: auto;
    img {
      width: 100px;
      height: 100px;
    }
  }
}

::ng-deep .show-card img {
  height: 6em !important;
}
