@import url(../../assets/common/button.scss);
.table {
  // background-image: url(../../assets/poker-table.jpg);
  // background-position: center;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  .user {
    height: auto;
    background-color: #e3dffd;
    border-radius: 1em;
    padding: 0.5em;
    margin: auto;
    width: 23em;
    .info{
      display: flex;
      justify-content: space-between;
    }
    .box {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .slider {
      margin: 2em 0px;
    }
    .call {
      margin-top: 1em;
      display: flex;
      .btn {
        color: black;
        text-transform: uppercase;
        width: 5em;
      }
      .isDisable {
        background-color: grey;
      }
    }
  }
  .winner {
    border: 7px solid #f59e0b;
    border-radius: 8px;
  }

  .show-card {
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
    color: bisque;
    .btn {
      width: 6em;
      margin: auto;
    }
  }
  .players {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex !important;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: auto;
    .player {
      width: auto;
      background-color: #e3dffd;
      border-radius: 10px;
      margin: 0.5em;
      padding: 0.5em;
      text-align: center;
    }

    .active {
      border: 7px solid #f59e0b;
      border-radius: 8px;
    }
  }
  .avatar {
    margin: auto;
    img {
      width: 100px;
      height: 100px;
    }
  }

  .detail{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #58a185;
    padding: 1em;
    border-radius: 10px;
  }
}

::ng-deep .show-card img {
  height: 6em !important;
}
