<div class="table">

  <div class="players">
    <div class="player" *ngFor="let item of players">
      <div class="avatar"></div>
      {{item.name}}
      <div class="card">
        <app-card [cards]="item.cards" ></app-card>
      </div>
    </div>

  </div>
  <div class="show-card">
    <app-card [cards]="cards" [isShow] = "true" *ngIf="isStart"></app-card>
    <h1 class="pot" *ngIf="isStart">{{room.pot}} $</h1>
    <button class="btn button-5" role="button" (click)="start()" *ngIf="!isStart" >Start</button>
  </div>
  <div class="user">
    <p>{{user.name}} || {{user.coin}}</p>
    <div class="box">
      <div class="avatar"></div>
      <app-card [isShow] = "true" [isFlip]="true" [cards]="user.cards"></app-card>
    </div>
    <div class="slider">
      <p-slider [(ngModel)]="coin"  [max]="user.coin"></p-slider>
      <span style="float: right;">{{coin}}</span>
    </div>
    <div class="call">
      <button class="btn" role="button" *ngFor="let item of buttons">{{item}}</button>
    </div>
  </div>
</div>
