.poker-app {
  background: url("../assets/home-background.jpg");
  background-size: cover;
  width: 100%;
  .logo {
    background-color: #217d97;
    text-align: center;
    position: relative;
    height: 7%;
    .user {
      position: absolute;
      top: 0;
      right: 0;
      width: 5em;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 12px;
    }
  }

  .body{
    height: 93%;
  }
}
