<div class="login-page">
  <h1>Sign In</h1>
  <input
    type="text"
    class="input username"
    placeholder="username"
    [(ngModel)]="username"
  />
  <div class="avatars">
    <div class="avatar" *ngFor="let item of images">
      <img
        [src]="'../../assets/images/' + item"
        [ngClass]="{ 'chosen': avatar == item}"
        (click)="choseAvatar(item)"
      />
    </div>
  </div>
  <button class="btn" (click)="join()" [disabled]="!username || !avatar">
    Join
  </button>
</div>
